*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav
{
    height: 70px;
    width: 100%;
    border: 2px solid #F1EFEE;
}
.nav2
{
    height: 70px;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.logo
{
    height: 70px;
    width: 15%;
}
.logo img
{
    height: 70px;
    width: 100%; 
}
.navconaitner ul
{
      display: flex;
      list-style: none;
}
.navconaitner  li a
{
    color: black;
    text-decoration: none;
    padding: 8px;
}
.icon 
{
    display: flex;
}
.icon i
{
    padding: 10px;
}
.banner
{
    height: 650px;
    width: 100%;
    background-color: #F6F3F2;
    margin-bottom: 35px;
}
.imagecontainer
{
    height:550px;
    width: 95%;
    margin: auto;
}
.imagecontainer img
{
    height: 550px;
    width: 100%;
    margin-top: 50px;
}
h1
{
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
}
.list ul
{
    display: flex;
    list-style: none;
    justify-content: center;
}
.list ul li 
{
    text-decoration: none;
    padding: 25px;
}
.imageblock
{
    height: 500px;
    width: 100%;
}
.imageblock2
{
    height: 500px;
    width: 80%;
    margin: auto;
}
.imageblock2 img
{
     height: 500px;
     width: 100%;
}
li::after
{
    content: '';
    display: block;
    border-bottom: 3px solid black;
    width: 0%;
    margin:  auto;
    transition: 0.5s;
}
.list li:hover::after
{
    width: 100%;
    margin-top: 10px;
}
.content h6
{
    position: absolute;
    font-size: 20px;
    left: 20%;
     color: #002C5F;
     font-style: bold;
    
}
.content 
{
    display: flex;
    justify-content: center;
}
.content p
{
    padding: 50px;
} 
.divblock
{
    height: 150px;
    width: 100%;
    background-color: #F6F3F2;
    margin-top: 10%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.divblock .div1
{
    height: 40px;
    width: 18%;
    background-color:#767676;
}
.div1 button
{
    padding: 10px;
    height: 40px;
    width: 100%;
    background-color: #767676;
    color: white;
    border: none;
    outline: none;
}
.divblock .div2
{
    height: 40px;
    width: 18%;
    background-color:#767676;

}
.div2 button
{
    padding: 10px;
    height: 40px;
    width: 100%;
    background-color: #767676;
    color: white;
    border: none;
    outline: none;
}
.divblock .div3
{
    height: 40px;
    width: 18%;
    background-color:#767676;
}
.div3 button
{
    padding: 10px;
    height: 40px;
    width: 100%;
    background-color: #767676;
    color: white;
    border: none;
    outline: none;
}
.divblock .div4
{
    height: 40px;
    width: 18%;
    background-color:#767676;
}
.div4 button
{
    padding: 10px;
    height: 40px;
    width: 100%;
    background-color: #767676;
    color: white;
    border: none;
    outline: none;
}
.divblock1
{
    height: 150px;
    width: 100%;
    background-color: #002C5F;
}
.divblock1 p
{
    position: absolute;
    left: 10%;
    color: white;
    margin-top: 60px;
}
.divblock1 h2
{
    position: absolute;
    left: 10%;
    color: white;
    margin-top: 85px;
    font-size: 30px;
}
.backgroundbox
{
    height: 360px;
    width:100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.backgroundbox1
{
    height: 360px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1
{
    height: 360px;
    width: 28%;
}
.box1 img
{
    height: 360px;
    width: 100%;
}
.box2
{
    height: 360px;
    width: 28%;
    background-color: purple;
}
.box2 img
{
    height: 360px;
    width: 100%;
}
.box3
{
    height: 360px;
    width: 28%;
    background-color: purple;
}
.box3 img
{
    height: 360px;
    width: 100%;
}
.textcontent
{
    margin-top: 10px;
}
.textcontent h6
{
    position: absolute;
    left: 10%;
    color: #002C5F;
}
.textcontent p
{
    position: absolute;
    left: 10%;
    margin-top: 12px;
}
.text1 h6
{
    position: absolute;
    left: 39%;
    color: #002C5F;
}
.text1 p
{
    position: absolute;
    left: 39%;
    margin-top: 12px;
}
.text2 h6
{
    position: absolute;
    left: 68%;
    color: #002C5F;
}
.text2 p
{
    position: absolute;
    left: 68%;
    margin-top: 12px;
}
.imageblock3
{
    height: 500px;
    width: 100%;
    background-color: #002C5F;
    margin-top: 10%;
}
.imageblock3 img
{
    height: 500px;
    width: 100%;
}
.knowmore
{
    height: 100px;
    width: 100%;
    margin-top: 5%;
}
.div1 button
{
    padding: 10px;
    height: 40px;
    width: 20%;
    background-color: #002C5F;
    color: white;
    border: none;
    outline: none;
    margin-top: 2%;
    margin-left: 40%;
}
.social
{
    height: 200px;
    width: 100%;
    background-color: #002C5F;
}
.social p
{
    position: absolute;
    left: 10%;
    color: white;
    margin-top: 75px;
}
.social h2
{
    position: absolute;
    left: 10%;
    color: white;
    margin-top: 100px;
    font-size: 50px;
}
.imagesconatiner2
{
    height: 700px;
    width: 100%;
    margin-top: 60px;
}
.imagesblock4 
{
     height: 650px;
     width:80%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
    align-items: end;
}
.img1
{
    height: 300px;
    width: 30%;
}
.img1 img
{
    height: 300px;
    width: 100%;
}
.img2
{
    height: 300px;
    width: 30%;
}
.img2 img
{
    height: 300px;
    width: 100%;
}
.img3
{
    height: 300px;
    width: 30%;
}
.img3 img
{
    height: 300px;
    width: 100%;
}
.img4
{
    height: 300px;
    width: 30%;
}
.img4 img
{
    height: 300px;
    width: 100%;
}
.img5
{
    height: 300px;
    width: 30%;
}
.img5 img
{
    height: 300px;
    width: 100%;
}
.img6
{
    height: 300px;
    width: 30%;
}
.img6 img
{
    height: 300px;
    width: 100%;
}
.block
{
    height: 700px;
    width: 100%;
    background-color: #EDE8E4;
}
.block h1
{
    position: absolute;
    top: 568%;
    left: 45%;
}

.block1
{
    position: absolute;
    height: 400px;
    width: 95%;
    background-color:white;
    left: 2.5%;
    margin-top: 17%;
}
.block1 p
{
    text-align: center;
    margin-top: 70px;
}
.block1 h2
{
    text-align: center;
    margin-top: 60px;
}
.learnmore
{
    height: 100px;
    width: 100%;
}
.learn button
{
    padding: 10px;
    height: 40px;
    width: 20%;
    background-color: #002C5F;
    color: white;
    border: none;
    outline: none;
    margin-top: 2%;
    margin-left: 40%;
}
.deal
{
    height: 520px;
    width: 100%;
    margin-top: 2%;
    
}
.deal2
{
    position: absolute;
    height: 520px;
    width: 80%;
    left: 10%;
 

}
.deal h1
{
    margin-top: 10%;
}
.deal h3
{
    text-align: center;
}
.deal3
{
    position: absolute;
    height: 100px;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.deal3 p
{
    position: absolute;
    margin-bottom: 3%;

}
.select1 input
{
    padding: 10px;
    height: 50px;
    width: 100%;
    border: 1px solid #767676; 
    outline: none;
    color: #767676;
}
.select1 i
{
    position: absolute;
    left: 52.5%;
    margin-top: 1.4%;
}
.select2 input 
{
    padding: 10px;
    height: 50px;
    width: 100%;
    border: 1px solid #767676; 
    outline: none;
    color: #767676;
}
.select2 i
{
    position: absolute;
    left: 75%;
    margin-top: 1.4%;
}
.select3 input
{
    padding: 10px;
    height: 50px;
    width: 100%;
    border: 1px solid #767676; 
    outline: none;
    color: #767676;
}
.select3 i
{
    position: absolute;
    left: 97%;
    margin-top: 1.4%;
}
.find
{
    height: 100px;
    width: 100%;
}
.find button
{
    padding: 10px;
    height: 40px;
    width: 20%;
    background-color: #002C5F;
    color: white;
    border: none;
    outline: none;
    margin-top: 17%;
    margin-left: 40%;
}
.locationlist
{
    height: 700px;
    width: 100%;
    background-color: #002C5F;
}
.map
{
    float: right;
    width: 100%;
}
footer
{
    background-color: #1C1B1B;
    height: 400px;
    width: 100%;
    margin-top: 2%;
}
.footer2
{
    height: 400px;
    width: 80%;
    margin: auto;
}
.head ul
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
    top: 40px;
}
.head ul li a
{
    left: 10%;
    text-decoration: none;
    color: whitesmoke;
}
.content1 ul
{
    list-style: none;
    left: 9%;
    position: relative;
     top: 50px;
}
.content1 ul li a
{
    left: 10%;
    text-decoration: none;
    color: whitesmoke;
}
.content2 ul
{
    list-style: none;
    left: 32%;
    top: 835%;
    position:absolute;
    width: 8%;
}
.content2 ul li a
{
    text-decoration: none;
    color: whitesmoke;
}
.content3 ul
{
    list-style: none;
    left: 46%;
    top: 835%;
    position:absolute;
    width: 8%;

}
.content3 ul li a
{
    text-decoration: none;
    color: white;
}
.content4 ul
{
    list-style: none;
    left: 62%;
    top: 835%;
    position:absolute;
    width: 8%;

}
.content4 ul li a
{
    text-decoration: none;
    color: white;
}
.content5 ul
{
    list-style: none;
    left: 77%;
    top: 835%;
    position:absolute;
    width: 8%;
    height: 40px;
}
.content5 ul li a
{
    text-decoration: none;
    color: white;
}
.footerlogo
{
    height: 50px;
    width: 3%;
    position: absolute;
    left: 10%;
    top: 827.9%;
}
.footerlogo img
{
   height: 50px;
   width: 100%;
}


